---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionWrapper from "@/layouts/SectionWrapper.astro";
import ImageCard from "@/components/ImageCard.astro";
import Timeline from "@/components/Timeline.astro";
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";

import { Button } from "@/components/ui/button";
import { Link } from "@/components/Link";
import { DonationDialog } from "@/components/DonationDialog";
import { FAQ } from "@/components/FAQ";

import type { BasicImageMeta } from "@/types";

import heroBanner from "@/assets/cucc-unity-in-action-cropped-optimized-smaller.jpg";
import ogImage from "@/assets/cucc-unity-in-action-og-image.jpg";
import snowStarPatter from "@/assets/snow-star-bg-pattern.png";
import missionariesOfThePoor from "@/assets/missionaries-of-the-poor.webp";
import BaseHead from "@/components/BaseHead.astro";

import { aboutSectionImages } from "@/data";

const groupedAboutSectionImages = aboutSectionImages.reduce<BasicImageMeta[][]>(
  (result, item, index) => {
    const groupIndex = Math.floor(index / 2);
    if (!result[groupIndex]) {
      result[groupIndex] = []; // Start a new group
    }
    result[groupIndex].push(item);
    return result;
  },
  []
);
---

<BaseLayout>
  <BaseHead
    title="Cebu United Car Campers | Unity in Action"
    description="An annual Christmas season community outreach event organized by Cebu United Car Campers"
    ogImage={ogImage}
    slot="base-head"
  />
  <!-- Hero section -->
  <SectionWrapper fullBleed>
    <article class="hero-wrapper">
      <Picture
        src={heroBanner}
        alt="Image of people in a sunset"
        class="h-full w-screen object-cover"
        loading="eager"
        formats={["avif", "webp"]}
      />
      <div
        class="inner-content-wrapper hero-main-content space-y-14 pt-[calc(var(--header-height)+var(--header-added-height)+var(--hero-extra-top-padding))] ~pb-16/24"
      >
        <div class="space-y-3">
          <h1 class="h1-heading-sizing font-serif text-brand-color">
            Unity in Action
          </h1>
          <h2 class="h2-heading-sizing font-serif text-white">
            United in Service, Inspiring Change
          </h2>
        </div>
        <p class="p-md-sizing mx-auto max-w-[45ch] text-white">
          An annual Christmas season community outreach event organized by Cebu
          United Car Campers
        </p>
        <Button
          className="rounded-full bg-brand-color hover:bg-brand-color-darker text-base uppercase text-yellow-900 font-bold px-8 py-6 transition-colors"
          data-trigger="donationModal"
        >
          Make a Donation
          <Icon name="donation-icon" />
        </Button>
      </div>
    </article>
  </SectionWrapper>
  <!-- About section -->
  <SectionWrapper
    style={`background-image: url(${snowStarPatter.src})`}
    class="bg-contain bg-fixed bg-center ~py-16/24"
    fullBleed
  >
    <article
      class="inner-content-wrapper flex flex-col gap-16 text-center md:flex-row md:gap-8 md:text-left"
    >
      <div
        class="space-y-6 [&_p]:text-slate-600 [&_p]:p-md-sizing flex-1 [&>p]:text-pretty"
      >
        <h2
          class="h2-heading-sizing mb-9 text-balance font-serif text-slate-700"
        >
          Spreading Holiday Cheer Together
        </h2>
        <p>
          The "<span class="font-bold text-brand-color">Unity in Action</span>"
          event is our annual community outreach initiative held every December.
          This heartwarming event aims to spread joy and support to less
          fortunate individuals.
        </p>
        <p>
          Throughout the year, we fundraise and collect donations from our
          supporters. All proceeds are allocated to our chosen beneficiary,
          ensuring our efforts make a meaningful impact. This year-round
          commitment maximizes our support and creates lasting positive change
          in our community.
        </p>
        <p>
          This event brings together car camping enthusiasts and outdoor lovers
          to make a positive impact during the festive season, embodying the
          spirit of giving and community engagement.
        </p>
        <p>
          Everyone is welcome to support this initiative by <Button
            className="text-brand-color underline inline-block p-0 p-md-sizing"
            data-trigger="donationModal"
            variant="link">donating</Button
          > and/or <a
            class="text-brand-color underline"
            href="https://m.me/cebuunitedcarcampers"
            target="_blank">joining</a
          > our next outreach.
        </p>
      </div>
      <div class="flex-1">
        <ul
          class="sticky top-[calc(var(--header-height)+var(--header-added-height))] grid grid-cols-2 ~gap-6/8"
        >
          {
            groupedAboutSectionImages.map((imageGroup) => {
              return (
                <li class="even:~mt-10/14">
                  <ul class="flex flex-col ~gap-6/8">
                    {imageGroup.map((imageMeta) => {
                      return (
                        <li>
                          <ImageCard
                            alt={imageMeta.alt}
                            imagePath={imageMeta.path}
                            aspect={imageMeta.aspect}
                          />
                        </li>
                      );
                    })}
                  </ul>
                </li>
              );
            })
          }
        </ul>
      </div>
    </article>
  </SectionWrapper>
  <!-- This year beneficiary section -->
  <SectionWrapper
    fullBleed
    style={`background-image: url(${missionariesOfThePoor.src})`}
    class="relative bg-brand-color-darker bg-cover bg-center bg-no-repeat bg-blend-soft-light ~py-16/24"
  >
    <article
      class="inner-content-wrapper flex flex-col gap-10 text-center text-white"
    >
      <h5 class="h5-heading-sizing font-bold uppercase text-yellow-100">
        2024 beneficiary
      </h5>
      <div class="font-serif [&>h3]:h3-heading-sizing space-y-2">
        <h2 class="h2-heading-sizing uppercase">Missionaries of the Poor</h2>
        <h3>December 7, 2024 | 9:00 AM</h3>
        <h3>Talisay City, Cebu</h3>
      </div>
      <div class="p-md-sizing mx-auto max-w-[55ch] space-y-4 [&>p]:text-pretty">
        <p>
          This season, we're coming together to support some of the most
          vulnerable members of our community: our elderlies.
        </p>

        <p>
          Let's show them they're not forgotten. Together, we can make a
          difference by offering warmth, care, and dignity to our seniors in
          need.
        </p>
      </div>
      <div>
        <ul class="flex flex-col items-center justify-center gap-4 md:flex-row">
          <li>
            <Button
              className="rounded-full bg-white text-brand-color text-base px-8 py-6 transition-colors uppercase font-bold hover:bg-yellow-100 hover:text-brand-color-darker"
              data-trigger="donationModal">Support the outreach</Button
            >
          </li>
          <li>
            <Link
              variant="outline"
              className="border-white text-white bg-transparent rounded-full text-base px-8 py-6 transition-colors uppercase font-bold hover:border-yellow-100 hover:text-yellow-100"
              href="https://m.me/cebuunitedcarcampers"
              target="_blank">Join the event</Link
            >
          </li>
        </ul>
      </div>
      <hr class="mx-auto h-1 w-[20%] border-none bg-yellow-400" />
      <h5 class="h5-heading-sizing font-bold uppercase text-yellow-100">
        After the outreach
      </h5>
      <div class="space-y-2 font-serif">
        <h3 class="h3-md-heading-sizing">Christmas Campout</h3>
        <h3 class="h3-heading-sizing">Location TBA</h3>
      </div>
    </article>
  </SectionWrapper>
  <!-- All beneficiaries section -->
  <SectionWrapper class="~py-16/24">
    <article class="flex flex-col gap-20 ~md/lg:~px-0/40">
      <h2 class="h2-heading-sizing text-center font-serif text-slate-900">
        All Beneficiaries
      </h2>
      <Timeline />
    </article>
  </SectionWrapper>

  <!-- FAQ section -->
  <SectionWrapper class="~py-16/24">
    <article class="flex flex-col gap-20 ~md/lg:~px-0/40">
      <h2 class="h2-heading-sizing text-center font-serif text-slate-900">
        Frequently Asked Questions
      </h2>
      <FAQ client:load />
    </article>
  </SectionWrapper>

  <DonationDialog client:load />
</BaseLayout>

<style>
  .hero-wrapper {
    display: grid;
    grid-template-areas: "stacked";
    & > * {
      grid-area: stacked;
    }

    .hero-main-content {
      place-content: center;
      text-align: center;
    }
  }
</style>

<script>
  import { isDonationModelOpen } from "@/store";
  function openDonationDialog() {
    isDonationModelOpen.set(true);
  }

  const donationModalTriggers = document.querySelectorAll(
    '[data-trigger="donationModal"]'
  );

  donationModalTriggers.forEach((trigger) => {
    trigger.addEventListener("click", openDonationDialog);
  });
</script>
