---
import { Link } from "@/components/Link";
import { MobileNav } from "@/components/MobileNav";
import { siteConfig } from "@/config/site";

import cuccLogo from "@/assets/cucc-wordmark-logo.svg?raw";
const currentPath = Astro.url.pathname.split("/")[1];
---

<header
  class="fixed left-0 right-0 top-[var(--header-py)] z-50 mx-auto max-w-[var(--page-dw)] rounded-full bg-white px-6 py-4 shadow-md"
  id="header"
>
  <span class="sr-only">Cebu United Car Campers Official Website</span>
  <nav class="flex items-center justify-between">
    <div class="flex items-center gap-x-12">
      <a href="/" class="text-2xl font-bold">
        <span class="sr-only">Homepage</span>
        <Fragment set:html={cuccLogo} />
      </a>
      <ul class="hidden items-center lg:flex">
        {
          siteConfig.mainNav.map((link) => {
            const linkPath = link.path.split("/")[1];
            const isCurrentPath = currentPath === linkPath;
            return (
              <li class="text-base">
                <a
                  href={link.path}
                  class:list={[
                    "p-4",
                    isCurrentPath
                      ? "text-brand-color"
                      : "text-slate-600 hover:text-slate-900",
                  ]}
                >
                  {link.name}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
    <div class="flex gap-6">
      <Link
        className="rounded-full text-brand-color-darker hover:bg-brand-color hover:text-white border-brand-color-darker text-base transition-colors"
        variant="outline"
        href="https://fb.me/g/4ejRr1Tj0/IVZL5tGc"
        target="_blank">Join Group</Link
      >
      <MobileNav currentPath={currentPath} client:load />
    </div>
  </nav>
</header>

<style>
  li:has(a:is(:hover, :focus-visible)) {
    anchor-name: --a;
  }
  ul::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 2px;
    left: anchor(--a left);
    width: anchor-size(--a width);
    bottom: 0;
    @apply rounded-full bg-brand-color transition-all;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    if (header) {
      const headerHeight = header.offsetHeight;
      document.documentElement.style.setProperty(
        "--header-height",
        `${headerHeight}px`
      );
    }
  });
</script>
