---
import TimelineItem from "./TimelineItem.astro";
import { CircleDot, Circle } from "lucide-react";

import { outreachEvents } from "@/data";
---

<ul class="flex flex-col">
  {
    outreachEvents.map((event, index) => {
      return (
        <li class="grid grid-cols-timeline align-baseline">
          <span class="sticky top-[calc(var(--header-height)+var(--header-added-height))] block h-auto self-baseline pb-16 font-sans text-sm text-slate-400">
            {event.year}
          </span>
          <div class="flex flex-col items-center ~px-4/10">
            <span class="text-brand-color">
              {event.isDoneEvent ? (
                <CircleDot />
              ) : (
                <CircleDot className="text-slate-400" />
              )}
            </span>
            <hr class="-z-10 w-[2px] flex-1 bg-slate-400" />
            {index === outreachEvents.length - 1 && (
              <span class="text-brand-color">
                <Circle fill="#FDA214" />
              </span>
            )}
          </div>
          <TimelineItem
            name={event.name}
            location={event.location}
            isDoneEvent={event.isDoneEvent}
            eventDate={event.eventDate}
            videoEmbedUrl={event.videoEmbedUrl}
            photoAlbumUrl={event.photoAlbumUrl}
            previewPhotos={event.previewPhotos}
          />
        </li>
      );
    })
  }
</ul>
