---
import TimelineItem from "./TimelineItem.astro";
import { CircleDot, Circle } from "lucide-react";

import type { OutreachEvent } from "@/types";

const outreachEvents: OutreachEvent[] = [
  {
    year: "2024",
    name: "Missionaries of the Poor",
    location: "Talisay City, Cebu",
    isDoneEvent: false,
    eventDate: new Date("December 7, 2024"),
    videoEmbedUrl: null,
    photoAlbumUrl: null,
    previewPhotos: null,
  },
  {
    year: "2023",
    name: "Kang-Atis Elementary School",
    location: "Lusaran, Cebu",
    isDoneEvent: true,
    eventDate: new Date("December 2, 2023"),
    videoEmbedUrl:
      "https://www.youtube.com/embed/kYKn7KD4V7E?si=HKJvXv460jIOZuBT&controls=0",
    photoAlbumUrl:
      "https://www.facebook.com/media/set/?set=a.264136350000523&type=3",
    previewPhotos: [
      {
        path: "/src/assets/2023-uia-event-snap-5.jpg",
        alt: "Smiling kid in front of a camera",
        aspect: "square",
      },
      {
        path: "/src/assets/2023-uia-event-snap-6.jpg",
        alt: "Vegetables and some donation items",
        aspect: "square",
      },
      {
        path: "/src/assets/2023-uia-event-snap-7.jpg",
        alt: "Side portrait of a girl",
        aspect: "square",
      },
      {
        path: "/src/assets/2023-uia-event-snap-8.jpg",
        alt: "Food ingredients",
        aspect: "square",
      },
      {
        path: "/src/assets/2023-uia-event-snap-9.jpg",
        alt: "A group of kids gathered around",
        aspect: "square",
      },
      {
        path: "/src/assets/2023-uia-event-snap-10.jpg",
        alt: "A group photo for five woman preparing foods",
        aspect: "square",
      },
      {
        path: "/src/assets/2023-uia-event-snap-11.jpg",
        alt: "Kids preparing items from a box",
        aspect: "square",
      },
      {
        path: "/src/assets/2023-uia-event-snap-12.jpg",
        alt: "Kids falling in line",
        aspect: "square",
      },
    ],
  },
];
---

<ul class="flex flex-col">
  {
    outreachEvents.map((event, index) => {
      return (
        <li class="grid grid-cols-timeline align-baseline">
          <span class="sticky top-[calc(var(--header-height)+var(--header-added-height))] block h-auto self-baseline pb-16 font-sans text-sm text-slate-400">
            {event.year}
          </span>
          <div class="flex flex-col items-center ~px-4/10">
            <span class="text-brand-color">
              {event.isDoneEvent ? (
                <CircleDot />
              ) : (
                <CircleDot className="text-slate-400" />
              )}
            </span>
            <hr class="-z-10 w-[2px] flex-1 bg-slate-400" />
            {index === outreachEvents.length - 1 && (
              <span class="text-brand-color">
                <Circle fill="#FDA214" />
              </span>
            )}
          </div>
          <TimelineItem
            name={event.name}
            location={event.location}
            isDoneEvent={event.isDoneEvent}
            eventDate={event.eventDate}
            videoEmbedUrl={event.videoEmbedUrl}
            photoAlbumUrl={event.photoAlbumUrl}
            previewPhotos={event.previewPhotos}
          />
        </li>
      );
    })
  }
</ul>
